[MESSAGES CONTROL]
# See <https://github.com/PyCQA/pylint/issues/3882>
disable=unsubscriptable-object

[SIMILARITIES]
# Do not consider duplicate imports in several files as duplicated code
ignore-imports=yes
